# Virtual environment
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~
tempCodeRunnerFile.*

# Django
media/
staticfiles/

# Environment
.env
*.egg-info/
dist/
build/
